* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calories {
  margin-top: 10px;
}

.calories-input {
  display: flex;
  margin: 10px 0 0px;
}

.calories-input .field{
  display: flex;
  align-items: center;
}

.field input{
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calories-input .separator{
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider{
  height: 2px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #5f7ea1;
}

.range-input {
  position: relative;
}

.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -3px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #1e3045;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #1e3045;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}


.main-content {
  height: auto;
  display: grid;
  grid-template-areas:
  'cake1 cake2 cake3 aside'
  'cake4 cake5 cake6 aside'
  'cake7 cake8 cake9 aside';
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cake1 {
  grid-area: cake1;
}

.cake2 {
  grid-area: cake2;
}

.cake3 {
  grid-area: cake3;
}

.cake4 {
  grid-area: cake4;
}

.cake5 {
  grid-area: cake5;
}

.cake6 {
  grid-area: cake6;
}

.cake7 {
  grid-area: cake7;
}

.cake8 {
  grid-area: cake8;
}

.cake9 {
  grid-area: cake9;
}

aside {
  grid-area: aside;
}

img {
  height: 140px;
}

.cake {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 1rem;
  color: #1d2127;
  transition: 0.5s ease-in-out;
}

.cake:hover {
  box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%);
  transition: 0.5s ease-in-out;
}

.upper-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}


.lower-card {
  margin-top: 1rem;
  border-top: 1px solid #2c2b2d;
}

.lower-card > * {
  padding-top: 1rem;
}


.right-upper {
  max-width: 100%;
  margin: 0 1rem 1rem 1rem;
}

.header {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #2c2b2d;
}

.red {
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  padding: 0.3rem;
  font-weight: 200;
}

.cake-name {
  font-weight: bold;
}

.aside-settings {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  /*background-color: rgb(246,247,248);*/
  border: 1px solid #2c2b2d;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-settings > p {
  padding-bottom: 1rem;
}

.sort {
  margin-top: 1rem;
}

label {
  display: block;
  cursor: pointer;
}

label:hover {
  background-color: #2c2b2d;
  color: white;
}

.sort > * {
  padding: 1rem 2rem;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
  background-color: #f4f4f4;
  color: #6f6e6b;
  text-align: center;
  margin: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

.contacts {
  padding: 1rem;
}

.copyright {
  padding: 1rem;
}

a {
  text-decoration: none;
}

input#purig:checked ~ .main-content > div:not(.purig) {
  display: none;
}

input#rulet:checked ~ .main-content > div:not(.rulet) {
  display: none;
}

input#surnuku:checked ~ .main-content > div:not(.surnuku) {
  display: none;
}

input#tistechko:checked ~ .main-content > div:not(.tistechko) {
  display: none;
}

input#tort:checked ~ .main-content > div:not(.tort) {
  display: none;
}

input#purig {
  display: none;
}

input#rulet {
  display: none;
}

input#surnuku {
  display: none;
}

input#tistechko {
  display: none;
}

input#tort {
  display: none;
}

input#default {
  display: none;
}



input#purig:checked ~ .main-content > .aside-settings > .sort > .purig {
  background-color: #2c2b2d;
  color: white;
}

input#rulet:checked ~ .main-content > .aside-settings > .sort > .rulet {
  background-color: #2c2b2d;
  color: white;
}

input#surnuku:checked ~ .main-content > .aside-settings > .sort > .surnuku {
  background-color: #2c2b2d;
  color: white;
}

input#tistechko:checked ~ .main-content > .aside-settings > .sort > .tistechko {
  background-color: #2c2b2d;
  color: white;
}

input#tort:checked ~ .main-content > .aside-settings > .sort > .tort {
  background-color: #2c2b2d;
  color: white;
}

input#default:checked ~ .main-content > .aside-settings > .sort > .default {
  background-color: #2c2b2d;
  color: white;
}

input#tort:checked ~ .main-content {
  grid-template-areas:
  'cake2 cake7 cake9 aside'
  'cake4 cake5 cake6 aside'
  'cake1 cake8 cake3 aside';
}

input#tistechko:checked ~ .main-content {
  grid-template-areas:
  'cake3 cake6 cake1 aside'
  'cake4 cake5 cake2 aside'
  'cake7 cake8 cake9 aside';
}

input#surnuku:checked ~ .main-content {
  grid-template-areas:
  'cake5 cake2 cake3 aside'
  'cake4 cake1 cake6 aside'
  'cake7 cake8 cake9 aside';
}

input#rulet:checked ~ .main-content {
  grid-template-areas:
  'cake1 cake8 cake3 aside'
  'cake4 cake5 cake6 aside'
  'cake7 cake2 cake9 aside';
}

input#purig:checked ~ .main-content {
  grid-template-areas:
  'cake4 cake2 cake3 aside'
  'cake1 cake5 cake6 aside'
  'cake7 cake8 cake9 aside';
}


@media screen and (max-width: 1200px) {
  .calories,
  .aside-settings > p,
  .lower-card {
    display: none;
  }
  
  .aside-settings {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
  }

  img {
    width: 100%;
  }

  .cake-type,
  .cake-name{
    display: inline;
  }

  .upper-card {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .cake {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .cake h3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake1 cake2 cake3'
    'cake4 cake5 cake6'
    'cake7 cake8 cake9';
  }

  .aside-settings > .sort > * {
    text-align: center;
  }

  .aside-settings > .sort {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  .sort {
    margin-top: 0;
  }
  .aside-settings {
    margin-top: 0;
    margin-left: 1rem;
  }

  .sort > * {
    width: 25%;
  }

  input#tort:checked ~ .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake2 cake7 cake9'
    'cake4 cake5 cake6'
    'cake1 cake8 cake3';
  }
  
  input#tistechko:checked ~ .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake3 cake6 cake1'
    'cake4 cake5 cake2'
    'cake7 cake8 cake9';
  }
  
  input#surnuku:checked ~ .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake5 cake2 cake3'
    'cake4 cake1 cake6'
    'cake7 cake8 cake9';
  }
  
  input#rulet:checked ~ .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake1 cake8 cake7'
    'cake4 cake5 cake6'
    'cake2 cake3 cake9';
  }
  
  input#purig:checked ~ .main-content {
    grid-template-areas:
    'aside aside aside'
    'cake4 cake2 cake3'
    'cake1 cake5 cake6'
    'cake7 cake8 cake9';
  }
} 

@media screen and (max-width: 730px) {
  .right-upper {
    display: none;
  }
  
  .left-upper {
    background-color: transparent;
  }

  .upper-card {
    background-color: transparent;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  img {
    border-radius: 1rem;
  }

  .cake {
    background-color: transparent;
    border: none;
  }

  .cake:hover {
    box-shadow: none;
  }

  .sort > * {
    width: 40%;
  }

  .aside-settings {
    background-color: transparent;
    border: none;
  }

  .footer {
    flex-direction: column;
  }

  .copyright {
    padding-top: 0;
  }

  .contacts {
    padding-bottom: 0;
  }
}
